.custom-btn {
    width: 110px !important;
}

#emailField{
   
    width: 60% !important;
}

#textField{
    height: 200px !important;
}

.contact {

    padding-top: 40px !important;
}

@media(min-width:720px){

    #emailField{
   
        width: 40% !important;
    }
  }