.jumbotron {

     background-size: 100% 100%; 
     height: 400px;

}

.portfolio-me a {
     font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
     font-weight: 600;
     color: #f79e52b8;
     font-size: 13px;
     letter-spacing: 2.5px;
     -webkit-text-transform: uppercase;
     text-transform: uppercase;
 }

 .about {
      margin-top: -10px !important;
      padding-top: 5px !important;
      color:rgba(255,255,255,.5);
 }